.product-image
{
    position:relative;
}

span.bubble {
    position: absolute;
    top: 2px;
    right: 2px;
    font-family: Arial, Verdana, sans-serif;
    padding: 2px 1px;
    border-radius:20px;
    z-index:1;
    border-width:1px;
    font-size: 12px;
}
span.bubble.box {
    top:0;
    right:0;
    border-radius: 0;
}
span.bubble span.off {
    display: block;
    line-height: 1;
    text-align:center;
    text-transform: uppercase;
}
span.bubble span.discount {
    line-height: 1;
    display: block;
    text-align:center;
}
.zoomContainer{
    z-index:3;
}

/*corner style*/

div.product, li{
    overflow: hidden;
}
div.product span.corner.bubble, 
li span.corner.bubble {
    top: -13px;
    right: -30px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 20px 27px 1px 27px;
    border-radius: 0;
}
.ie8 .product-image span.corner.bubble {
    top: 0;
    right: 0;
}

/* prepended to product name */

span.bubble.beforeproductname {
    float: none;
    position: static;
    font-size: auto;
    border-radius: 0;
    border-right: 1px solid;
    display: inline-block;
    vertical-align: top;
}

.beforeproductname span.discount, .beforeproductname span.off {
    font-size: 12px;
    line-height: 1em !important;
}

span.bubble.beforeproductname.nominal + * {
    display: inline-block;
    max-width: calc(100% - 41px);
    text-align: left;
    padding-left: 6px;
}

ul.products li.product .star-rating{
    position:relative;
    margin: 0 auto;
}